[*.cs]

# CA1873: Avoid potentially expensive logging
dotnet_diagnostic.CA1873.severity = none

# CA2254: Template should be a static expression
dotnet_diagnostic.CA2254.severity = none

# SYSLIB1045: Use GeneratedRegexAttribute to generate the regular expression implementation at compile time.
dotnet_diagnostic.SYSLIB1045.severity = none
