name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore --configuration Release
    - name: Test
      run: dotnet test --no-build --configuration Release --verbosity normal
    - name: Publish
      if: runner.os == 'Windows'
      run: dotnet publish vcxproj2cmake\vcxproj2cmake.csproj --no-build --configuration Release --runtime win-x64
    - name: Upload published output
      if: runner.os == 'Windows'
      uses: actions/upload-artifact@v4
      with:
        name: vcxproj2cmake-win-x64
        path: .\vcxproj2cmake\bin\Release\net10.0\win-x64\publish

  e2e-test:
    runs-on: windows-latest
    needs: build
    strategy:
      fail-fast: false
      matrix:
        include:
        - name: minhook-detours
          repo: https://github.com/m417z/minhook-detours.git
          ref: v1.0.6
          sln: minhook-detours.sln

    steps:
    - name: Download vcxproj2cmake artifact
      uses: actions/download-artifact@v4
      with:
        name: vcxproj2cmake-win-x64
    - name: Clone ${{ matrix.name }}
      run: git clone --branch ${{ matrix.ref }} --depth 1 ${{ matrix.repo }} e2e-test/${{ matrix.name }}
    - name: Convert solution
      run: .\vcxproj2cmake.exe --solution e2e-test/${{ matrix.name }}/${{ matrix.sln }}
    - name: CMake configure
      run: cmake -S e2e-test/${{ matrix.name }} -B e2e-test/${{ matrix.name }}/build -A x64
    - name: CMake build
      run: cmake --build e2e-test/${{ matrix.name }}/build --config Release
