name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore --configuration Release
    - name: Test
      run: dotnet test --no-build --configuration Release --verbosity normal
    - name: Publish
      if: runner.os == 'Windows'
      run: dotnet publish vcxproj2cmake\vcxproj2cmake.csproj --no-build --configuration Release --runtime win-x64
    - name: Upload published output
      if: runner.os == 'Windows'
      uses: actions/upload-artifact@v4
      with:
        name: vcxproj2cmake-win-x64
        path: .\vcxproj2cmake\bin\Release\net10.0\win-x64\publish
